@model rvFleet.Models.facturas
@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    th {
        background: white;
        position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    }
</style>

<h4>Orden #@Model.FacCodigoOrden</h4>
<hr class="m-0" />
@if (ViewBag.Source == "Reportes")
{
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent pl-0">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Vehicles", "Reports")">Reportes Vehiculares</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("VehiclesCosts", "Reports", new { startDate = ViewBag.startDate, endDate = ViewBag.endDate })">
                Costos por vehículo
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("OrdersDetails", "Reports", new { VehPlaca = ViewBag.VehPlaca, startDate = ViewBag.startDate, endDate = ViewBag.endDate })">
                Facturas
            </a>
        </li>
        <li class="breadcrumb-item active">Detalles</li>
    </ol>
</nav>
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent pl-0">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Orders")">Facturas</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Detalles</li>
        </ol>
    </nav>
}

<div class="card shadow-sm">
    <div data-toggle="collapse" data-target="#collapse-factura" aria-expanded="true" id="heading-factura" class="card-header">
        <b>Datos de la factura</b>
        <i class="fa fa-chevron-down pull-right mt-1"></i>
    </div>
    <div class="collapse show" id="collapse-factura">
        <div class="card-body">
            <ul class="nav nav-tabs" role="tablist" id="nav-tab">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#div-tab-factura" role="tab" aria-selected="true">
                        Datos generales
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#div-tab-files" role="tab" aria-selected="true">
                        Archivos
                    </a>
                </li>
            </ul>
            <div class="tab-content mt-4">
                <div id="div-tab-factura" class="tab-pane fade show active">
                    <div class="row">
                        <div class="col-12 col-md-6 form-group">
                            @Html.LabelFor(x => x.FacCodigoProveedor)
                            @Html.DropDownList("FacCodigoProveedor", null, new { @class = "form-control", disabled = "disabled" })
                        </div>
                        <div class="col-12 col-md-6 form-group">
                            @Html.LabelFor(x => x.FacUsuarioPago)
                            @Html.TextBoxFor(x => x.FacUsuarioPago, new { @class = "form-control col-12", placeholder = "Nombre", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-3 form-group">
                            @Html.LabelFor(x => x.FacFechaOrden)
                            <input readonly type="date" class="form-control col-12" value="@(Model.FacFechaOrden.HasValue ? Model.FacFechaOrden.Value.ToString("yyyy-MM-dd") : string.Empty)" name="FacFechaOrden" id="FacFechaOrden" />
                        </div>
                        <div class="col-md-4 col-lg-3 form-group">
                            @Html.LabelFor(x => x.FacFechaFactura)
                            <input readonly type="date" class="form-control col-12" value="@(Model.FacFechaFactura.HasValue ? Model.FacFechaFactura.Value.ToString("yyyy-MM-dd") : string.Empty)" name="FacFechaFactura" id="FacFechaFactura" />
                        </div>
                        <div class="col-md-4 col-lg-3 form-group">
                            @Html.LabelFor(x => x.FacNumeroFactura)
                            @Html.TextBoxFor(x => x.FacNumeroFactura, new { @class = "form-control col-12", placeholder = "xxx-xxx-xx-xxxxxxxx", @readonly = "readonly" })
                        </div>
                        @*<div class="col-md-4 col-lg-3 form-group">
                                @Html.LabelFor(x => x.FacKilometraje)
                                @Html.TextBoxFor(x => x.FacKilometraje, new { @class = "form-control col-12", @readonly = "readonly", placeholder = "0" })
                            </div>*@
                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(x => x.FacComentario)
                        @Html.TextAreaFor(x => x.FacComentario, new { rows = "3", @class = "form-control col-12", @readonly = "readonly", placeholder = "Ingrese una observación (opcional)..." })
                    </div>*@
                </div>
                <div id="div-tab-files" class="tab-pane fade">
                    <label class="h4">Archivos adjuntos</label>
                    <hr />
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-sm">
                            <thead class="thead-light">
                                <tr>
                                    <th>Archivo</th>
                                    <th style="white-space: nowrap;">Fecha de subida</th>
                                    <th>Usuario</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.ArchivosFactura.Count > 0)
                                {
                                    foreach (rvFleet.Models.archivofactura item in ViewBag.ArchivosFactura)
                                    {
                                        <tr>
                                            <td>@item.FacArchivoNombre</td>
                                            <td>@item.FacArchivoFechaSubida</td>
                                            <td>@item.FacArchivoUsuario</td>
                                            <td class="text-center">
                                                <a href="@Url.Content("~" + item.FacArchivoUrl)" target="_blank" class="btn btn-info btn-sm">
                                                    <i class="fa fa-download"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4" class="text-center">No hay registros por mostrar</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="card shadow-sm">
    <div data-toggle="collapse" data-target="#collapse-factura-detalle" aria-expanded="true" id="heading-factura" class="card-header">
        <b>Detalles de facturación</b>
        <i class="fa fa-chevron-down pull-right mt-1"></i>
    </div>
    <div class="collapse show" id="collapse-factura-detalle">
        <div class="card-body">
            <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                <table class="table table-hover table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Vehículo</th>
                            <th>Kilometraje</th>
                            <th>Rubro</th>
                            <th>Detalle</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-details">
                        @foreach (var item in Model.detallefactura)
                        {
                            <tr>
                                <td>@item.DetPlacaVehiculo</td>
                                <td>@item.DetKilometraje.ToString("N0")</td>
                                <td>@item.NombreRubro</td>
                                <td>@item.DetDescripcion</td>
                                <td>@item.DetCantidad</td>
                                <td>@item.DetValor.ToString("N")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-12 text-left text-md-center mt-2">
                <label class="text-muted">Total: <span id="span-caption-total">@Model.FacValorFactura.ToString("N")</span></label>
            </div>
        </div>
    </div>
</div>

<br />
<div class="card shadow-sm">
    <div class="card-body">
        <div class="form-group">
            @Html.LabelFor(x => x.FacComentario)
            @Html.TextAreaFor(x => x.FacComentario, new { rows = "3", @class = "form-control col-12", placeholder = "Sin comentarios adicionales.", @readonly = "readonly" })
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/dist/facturas.js"></script>