@using Newtonsoft.Json;
@model List<rvFleet.Models.GetVehicleGraphData_Result>
@{
    ViewBag.Title = "NextMaintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var jsonData = JsonConvert.SerializeObject(Model);
    string format = "{0:#,##0}"; ///Formatear numeros con ',' pero sin punto decimal.
}

<style>
    th {
        background: white;
        position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    }
    td {
        white-space: nowrap;
    }
</style>

<h4>Mantenimientos vehiculares</h4>
<hr class="m-0" />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent pl-0">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Vehicles", "Reports")">
                Reportes vehiculares
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Mantenimientos vehiculares</li>
    </ol>
</nav>

@using (Html.BeginForm("NextMaintenance", "Reports", FormMethod.Get, new { id = "form-graphVehicle" }))
{
    <div class="row align-items-end">
        <div class="form-group col-12 col-md-6">
            <label class="col-form-label">Vehículos</label>
            @Html.DropDownList("VehPlaca", null, new { @class = "form-control", onchange = "$('#form-graphVehicle').submit()" })
        </div>
        <div class="form-group col-12 col-md-6 d-none">
            <div class="dropdown float-none float-md-right">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ficha técnica
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Vehículo seleccionado</a>
                    <a class="dropdown-item" href="#">Todos los vehículos</a>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-12 form-group">
        <div class="card">
            <div class="card-header">
                Gráfico
            </div>
            <div class="card-body">
                <canvas id="canvas-graph" style="max-height: 600px"></canvas>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-header">
                Tabla de mantenimientos
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control col-12" placeholder="Buscar..." id="input-filter">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="table-responsive" id="table-maintenance">
                    <table class="table table-sm table-hover tablesorter table-bordered" id="table-vehicles-next-maintenance">
                        <thead class="thead-light">
                            <tr>
                                <th>Vehículo <i class="fa fa-sort"></i></th>
                                <th>Rubro <i class="fa fa-sort"></i></th>
                                <th>Fecha de orden <i class="fa fa-sort"></i></th>
                                <th>Vida útil <i class="fa fa-sort"></i></th>
                                <th>Kilometraje facturado <i class="fa fa-sort"></i></th>
                                <th>Kilometraje actual <i class="fa fa-sort"></i></th>
                                <th>Distancia recorrida <i class="fa fa-sort"></i></th>
                                <th>Kilometros restantes <i class="fa fa-sort"></i></th>
                                <th>Porcentaje <i class="fa fa-sort"></i></th> 
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (rvFleet.Models.recommendedmaintenance item in ViewBag.RecommendedMaintenances)
                            {
                                <tr>
                                    <td>@item.DetPlacaVehiculo</td>
                                    <td>@item.NombreRubro</td>
                                    <td>
                                        @if (item.FacFechaOrden.HasValue)
                                        {
                                            <span>@item.FacFechaOrden.Value.ToString("yyyy-MM-dd")</span>
                                        }
                                        else
                                        {
                                            <span>Sin factura</span>
                                        }
                                    </td>
                                    <td>@string.Format(format, item.DistanciaCambio) KM</td>
                                    <td>@string.Format(format, item.KilometrajeFacturado) KM</td>
                                    <td>@string.Format(format, item.KilometrajeActual) KM</td>
                                    <td>@string.Format(format, item.DistanciaRecorrida) KM</td>
                                    <td style="background-color: @item.backgroundColor">@string.Format(format, item.VidaRestante) KM</td>
                                    <td style="background-color: @item.backgroundColor">@item.porcentaje %</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    var backGrounds = [];
    var borders = [];
    var data = [];
    var labels = [];

    var options = {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Rubros',
                data: data,
                backgroundColor: backGrounds,
                borderColor: borders,
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
            scales: {
                /*xAxes: [{
                    ticks: {
                        min: 0,
                        max: 100,
                        stepSize: 5
                    }
                }]*/
                x: {
                    min: 0,
                    max: 100
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                datalabels: {
                    formatter: (value, context) => {
                        return value + "%";
                    }
                }
            },
            responsive: true
        },
        plugins: [ChartDataLabels]
    }

    $(document).ready(function () {
        var jsonArray = @Html.Raw(jsonData);

        $('#VehPlaca').select2({
            theme: 'bootstrap4',
            width: '100%',
        });

        $(jsonArray).each(function (index, item) {
            labels.push(item.NombreRubro);
            data.push(item.Porcentaje);
            backGrounds.push(item.backgroundColor);
            borders.push(item.backgroundColor);
        });

        var canvas = $('#canvas-graph');
        var chart = new Chart(canvas, options);

        $("#input-filter").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#table-maintenance tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        $('#table-vehicles-next-maintenance').tablesorter();
    });
</script>
