@model List<rvFleet.Models.facturas>
@{
    ViewBag.Title = "OrdersDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double total = 0;
}

<style>
    th {
        background: white;
        position: sticky;
        top: 0;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
        white-space: nowrap;
    }
</style>

<h4>Facturas del vehiculo @ViewBag.VehPlaca</h4>
<hr class="m-0" />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent pl-0">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Vehicles", "Reports")">Reportes Vehiculares</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("VehiclesCosts", new { startDate = ViewBag.startDate, endDate = ViewBag.endDate })">
                Costos por vehículo
            </a>
        </li>
        <li class="breadcrumb-item active">Facturas</li>
    </ol>
</nav>

<div class="card shadow-sm">
    <div class="card-body">
        <div class="input-group mb-3">
            <input type="text" class="form-control col-12" placeholder="Buscar..." id="input-filter-orderDetails">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered bg-white tablesorter" id="ordersDetails-table">
                <thead>
                    <tr>
                        <th>Factura <i class="fa fa-sort"></i></th>
                        <th>Fecha <i class="fa fa-sort"></i></th>
                        <th>Proveedor <i class="fa fa-sort"></i></th>
                        <th>Detalle <i class="fa fa-sort"></i></th>
                        <th>Vehículos <i class="fa fa-sort"></i></th>
                        <th>Total <i class="fa fa-sort"></i></th>
                        <th>Facturado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {

                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@(string.IsNullOrEmpty(item.FacNumeroFactura) ? "Sin Factura" : item.FacNumeroFactura)</td>
                                <td>@item.FacFechaOrden.Value.ToString("yyyy-MM-dd")</td>
                                <td>@item.NombreProveedor</td>
                                <td>@string.Join(", ", item.detallefactura.Where(x => x.DetPlacaVehiculo.Equals(ViewBag.VehPlaca)).Select(x => x.DetDescripcion).ToList())</td>
                                <td>
                                    @string.Join(", ", item.detallefactura.Where(x => x.DetPlacaVehiculo.Equals(ViewBag.VehPlaca)).Select(x => x.DetPlacaVehiculo).Distinct().ToList())
                                </td>
                                <td>
                                    @if (item.FacAplicaImpuesto.Value)
                                    {
                                        <span>@item.detallefactura.Where(x => x.DetPlacaVehiculo.Equals(ViewBag.VehPlaca)).Select(x => (x.DetValor * 0.15) + x.DetValor).Sum().ToString("N2")</span>
                                        {
                                            total += item.detallefactura.Where(x => x.DetPlacaVehiculo.Equals(ViewBag.VehPlaca)).Select(x => (x.DetValor * 0.15) + x.DetValor).Sum();
                                        }
                                    }
                                    else
                                    {
                                        <span>@item.detallefactura.Where(x => x.DetPlacaVehiculo.Equals(ViewBag.VehPlaca)).Select(x => x.DetValor).Sum().ToString("N2")</span>
                                        {
                                            total += item.detallefactura.Where(x => x.DetPlacaVehiculo.Equals(ViewBag.VehPlaca)).Select(x => x.DetValor).Sum();
                                        }
                                    }
                                </td>
                                <td class="text-center">
                                    @if (string.IsNullOrEmpty(item.FacNumeroFactura))
                                    {
                                        <i class="fa fa-times text-danger"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-check text-success"></i>
                                    }
                                </td>
                                <td class="text-center" style="white-space: nowrap;">
                                    <a href="@Url.Action("Details", "Orders", new { item.FacCodigoOrden, source = "Reportes", VehPlaca = ViewBag.VehPlaca, startDate = ViewBag.startDate, endDate = ViewBag.endDate })" class="btn btn-info btn-sm">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" class="text-center">
                                <label class="h6">No hay registros por mostrar.</label>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr />
        <label class="h6 mt-2 float-right">Total facturado: @total.ToString("N2")</label>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#input-filter-orderDetails").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#ordersDetails-table tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        $('#ordersDetails-table').tablesorter();
    });
</script>