@model rvFleet.POCO.Reports.ReportsModel
@{
    ViewBag.Title = "Vehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.RecommendedMaintenance = Model.RecommendedMaintenances;
}

<style>
    table.scroll thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    table.scroll tbody {
        display: block;
        height: 225px !important;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .card-footer,
    .card-header {
        background-color: white;
    }
</style>

<script type="text/javascript">
    function createColor() {
        var r = Math.floor(Math.random() * 256);
        var g = Math.floor(Math.random() * 256);
        var b = Math.floor(Math.random() * 256);
        //rgb(4, 30, 159)
        console.log("Color: rgb(" + r + ", " + g + ", " + b + ")");
    }
</script>
<input type="color" class="d-none" />
<button class="btn btn-sm d-none" onclick="createColor();">Crear color</button>

<h4><i class="fa fa-bar-chart-o"></i> Reportes de vehículos</h4>
<hr class="m-0" />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent pl-0">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Inicio</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Reportes vehiculares</li>
    </ol>
</nav>

<div class="row">
    <div class="col-12 col-xl-6">
        <div class="row">
            <div class="col-12 form-group">
                <div class="card shadow" style="height: 515px">
                    <div class="card-header">
                        <i class="fa fa-money"></i>
                        Costos totales por vehículo
                    </div>
                    <div class="card-body">
                        @{
                            Html.RenderPartial("_MonthlyCostsVehicles", Model.VehicleCosts);
                        }
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-info btn-sm" href="@Url.Action("VehiclesCosts", "Reports")">
                            Mas detalles <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 form-group">
                <div class="row">
                    <div class="col-12 col-xl-6 form-group">
                        <div class="card shadow" style="height: 285px;">
                            <div class="card-header">
                                <i class="fa fa-wrench"></i>
                                Mantenimientos próximos
                            </div>
                            <div class="card-body pb-0">
                                @{
                                    Html.RenderPartial("_RecommendedCarMaintenance", Model.RecommendedMaintenances);
                                }
                            </div>
                            <div class="card-footer text-center">
                                <a class="btn btn-info btn-sm" href="@Url.Action("NextMaintenance", "Reports")">
                                    Mas detalles <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6">
                        <div class="card shadow" style="height: 285px">
                            <div class="card-header">
                                <i class="fa fa-truck"></i>
                                Vehículos
                            </div>
                            <div class="card-body">
                                <h5>Asignados <span class="badge badge-success">@ViewBag.CarsAssigned</span></h5>
                                <h5>Sin asignar <span class="badge badge-warning">@ViewBag.CarsUnassigned</span></h5>
                                <hr />
                                <h5>Total <span class="badge badge-primary">@ViewBag.TotalCars</span></h5>
                            </div>
                            <div class="card-footer text-center">
                                <a href="@Url.Action("Control", "Vehicles")" class="btn btn-info btn-sm">
                                    Mas detalles <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-6 form-group">
        <div class="card shadow" style="height: 815px">
            <div class="card-header">
                <i class="fa fa-bar-chart-o"></i>
                Costo anual por rubro - @DateTime.Now.Year
            </div>
            <div class="card-body p-0 d-flex">
                @{
                    Html.RenderPartial("_AnualCostsGraph", Model.VehicleAnualCostGraphData);
                }
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-info btn-sm" href="@Url.Action("PartsCost", "Reports")">
                    Mas detalles <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 form-group">
        <div class="card shadow" style="height: 515px">
            <div class="card-header">
                <i class="fa fa-bar-chart-o"></i>
                Kilometraje por vehículo
            </div>
            <div class="card-body p-0 d-flex">
                @{
                    Html.RenderPartial("_CarKMs", Model.KilometrajesPorVehiculoAnoActual);
                }
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-info btn-sm">
                    Mas detalles <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </div>
    </div>
    @*<div class="col-12 form-group">
        <div class="card shadow">
            <div class="card-header">
                <i class="fa fa-bar-chart-o"></i>
                Vida útil - Rubros
            </div>
            <div class="card-body p-0 d-flex">
                @{ 
                    Html.RenderPartial("_GraficoVidaUtil", Model.VidaUtilData);
                }
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-info btn-sm">
                    Mas detalles <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </div>
    </div>*@
</div>

<script>
    $(document).ready(function () {
        loadAnualCostsPie();
        loadCarKMsLine();
    });
</script>