@model PagedList.IPagedList<rvFleet.Models.vehiclefulldata>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Control";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col">
        <h4>Vehículos</h4>
    </div>
    <div class="col text-right">
        <a href="@Url.Action("New", "Vehicles")" class="btn btn-success btn-sm" role="button">
            <i class="fa fa-plus"></i>
            Nuevo
        </a>
    </div>
</div>
<hr class="m-0" />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent pl-0">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Inicio</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Control</li>
    </ol>
</nav>

@using (Html.BeginForm("Control", "Vehicles", FormMethod.Get, new { id = "control-form" }))
{
    <div class="row form-group">
        <div class="col-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control col-12" placeholder="Buscar Placa/Encargado..." name="searchString" value="@ViewBag.searchString">
                <div class="input-group-append">
                    <button class="btn btn-info"><i class="fa fa-search"></i> Buscar</button>
                </div>
            </div>
        </div>
    </div>
}


<div class="table-responsive">
    <table class="table table-hover table-bordered bg-white">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Color</th>
                <th>Año</th>
                <th>Empresa</th>
                <th>Encargado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.VehPlaca</td>
                    <td>@item.VehColor</td>
                    <td>@item.VehAno</td>
                    <td>@item.NombreEmpresa</td>
                    <td>@item.NombreUsuario</td>
                    <td class="text-center" style="white-space: nowrap;">
                        <a href="@Url.Action("Edit", "Vehicles", new { item.VehPlaca })" class="btn btn-warning btn-sm">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="@Url.Action("Details", "Vehicles", new { item.VehPlaca })" class="btn btn-info btn-sm">
                            <i class="fa fa-eye"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Control", new { page, searchString = ViewBag.searchString, type = ViewBag.SelectedType }))