@model rvFleet.Models.vehiculos
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .img-thumbnail img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
</style>

<h4>Editar vehículo</h4>
<hr class="m-0" />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent pl-0">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Control", "Vehicles")">Control</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Editar</li>
    </ol>
</nav>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success alert-dismissible fade show">
        <label>@Html.Raw(ViewBag.Message)</label>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@using (Html.BeginForm("Edit", "Vehicles", FormMethod.Post, new { id = "form-newVehicle", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.VehCodigoVehiculo)
    <ul class="nav nav-tabs" role="tablist" id="nav-tab">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#div-tab-data" role="tab" aria-selected="true">
                Datos del vehículo
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#div-tab-files" role="tab" aria-selected="true">
                Archivos
            </a>
        </li>
    </ul>
    <div class="tab-content p-4 bg-white shadow">
        <div id="div-tab-data" class="tab-pane fade show active">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                    @Html.LabelFor(x => x.VehPlaca)
                    @Html.TextBoxFor(x => x.VehPlaca, null, new { @class = "form-control col-12" })
                    @Html.ValidationMessageFor(x => x.VehPlaca, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                    @Html.LabelFor(x => x.VehVIN)
                    @Html.TextBoxFor(x => x.VehVIN, null, new { @class = "form-control col-12" })
                    @Html.ValidationMessageFor(x => x.VehVIN, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                    @Html.LabelFor(x => x.VehMotor)
                    @Html.TextBoxFor(x => x.VehMotor, null, new { @class = "form-control col-12" })
                    @Html.ValidationMessageFor(x => x.VehMotor, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                    @Html.LabelFor(x => x.VehCilindraje)
                    @Html.TextBoxFor(x => x.VehCilindraje, null, new { @class = "form-control col-12" })
                    @Html.ValidationMessageFor(x => x.VehCilindraje, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                    @Html.LabelFor(x => x.VehAno)
                    @Html.TextBoxFor(x => x.VehAno, null, new { @class = "form-control col-12" })
                    @Html.ValidationMessageFor(x => x.VehAno, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                    @Html.LabelFor(x => x.VehColor)
                    @Html.TextBoxFor(x => x.VehColor, null, new { @class = "form-control col-12" })
                    @Html.ValidationMessageFor(x => x.VehColor, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                    @Html.LabelFor(x => x.VehMarca)
                    @Html.TextBoxFor(x => x.VehMarca, null, new { @class = "form-control col-12" })
                    @Html.ValidationMessageFor(x => x.VehMarca, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                    @Html.LabelFor(x => x.VehModelo)
                    @Html.TextBoxFor(x => x.VehModelo, null, new { @class = "form-control col-12" })
                    @Html.ValidationMessageFor(x => x.VehModelo, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                    @Html.LabelFor(x => x.VehFechaMatricula)
                    @Html.TextBoxFor(x => x.VehFechaMatricula, "{0:yyyy-MM-dd}", new { @class = "form-control col-12", type = "date" })
                    @Html.ValidationMessageFor(x => x.VehFechaMatricula, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                    @Html.LabelFor(x => x.VehKilometraje)
                    @Html.TextBoxFor(x => x.VehKilometraje, null, new { @class = "form-control col-12" })
                    @Html.ValidationMessageFor(x => x.VehKilometraje, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                    @Html.LabelFor(x => x.VehKilometrajeActualizado)
                    @Html.TextBoxFor(x => x.VehKilometrajeActualizado, null, new { @class = "form-control-plaintext col-12", @readonly = "readonly" })
                </div>
            </div>
            <hr />
            <fieldset>
                <legend class="form-group">Datos adicionales</legend>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                        @Html.LabelFor(x => x.VehCodigoAresSun)
                        @Html.TextBoxFor(x => x.VehCodigoAresSun, null, new { @class = "form-control col-12" })
                        @Html.ValidationMessageFor(x => x.VehCodigoAresSun, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                        @Html.LabelFor(x => x.VehNumeroPoliza)
                        @Html.TextBoxFor(x => x.VehNumeroPoliza, null, new { @class = "form-control col-12" })
                        @Html.ValidationMessageFor(x => x.VehNumeroPoliza, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                        @Html.LabelFor(x => x.UbicacionActual)
                        @Html.TextBoxFor(x => x.UbicacionActual, null, new { @class = "form-control-plaintext col-12", @readonly = "readonly" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                        @Html.LabelFor(x => x.VehCodigoProveedor)
                        @Html.DropDownList("VehCodigoProveedor", null, "NO ASIGNADO", new { @class = "form-control col-12" })
                        @Html.ValidationMessageFor(x => x.VehCodigoProveedor, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                        @Html.LabelFor(x => x.VehCodigoEmpresa)
                        @Html.DropDownList("VehCodigoEmpresa", null, "NO ASIGNADO", new { @class = "form-control col-12" })
                        @Html.ValidationMessageFor(x => x.VehCodigoEmpresa, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                        @Html.LabelFor(x => x.VehCodigoUsuario)
                        @Html.DropDownList("VehCodigoUsuario", null, "NO ASIGNADO", new { @class = "form-control col-12" })
                        @Html.ValidationMessageFor(x => x.VehCodigoUsuario, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>
        </div>
        <div id="div-tab-files" class="tab-pane fade">
            <div class="table-responsive">
                <table style="border-spacing: 25px; border-collapse: separate;">
                    <tr>
                        <td>
                            <div class="card" style="width: 18rem;">
                                @if (string.IsNullOrEmpty(Model.VehUrlFotoRevision))
                                {
                                    //
                                    <div class="img-thumbnail" style="width: 286px; height: 230px;">
                                        <img id="img-revision" class="card-img-top" src="@Url.Content("~/Content/images/others/placeholder.png")" alt="Card image cap">
                                    </div>
                                }
                                else
                                {
                                    @*~/Content/images/logos/rv.jpg*@
                                    <div class="img-thumbnail" style="width: 286px; height: 230px;">
                                        <img id="img-revision" class="card-img-top img-thumbnail" width="286" height="230" src="@Url.Content($"~{Model.VehUrlFotoRevision}")" alt="Card image cap">
                                    </div>
                                }
                                <div class="card-body">
                                    <h5 class="card-title">Boleta de revisión</h5>
                                    @Html.TextBoxFor(x => x.ImgRevision, new { type = "file", @class = "form-control-file mb-2", accept = "image/*" })
                                    <div class="d-inline">
                                        <button type="button" class="btn btn-info btn-sm" onclick="ViewPhoto('@Model.VehUrlFotoRevision', 'Boleta de revisión')">
                                            <i class="fa fa-eye"></i>
                                            Ver
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="card" style="width: 18rem;">
                                @if (string.IsNullOrEmpty(Model.VehFotoFrontal))
                                {
                                    <div class="img-thumbnail" style="width: 286px; height: 230px;">
                                        <img id="img-delantera" class="card-img-top" src="@Url.Content("~/Content/images/others/placeholder.png")" alt="Card image cap">
                                    </div>
                                }
                                else
                                {
                                    <div class="img-thumbnail" style="width: 286px; height: 230px;">
                                        <img id="img-delantera" class="card-img-top" src="@Url.Content($"~{Model.VehFotoFrontal}")" alt="Card image cap">
                                    </div>
                                }
                                <div class="card-body">
                                    <h5 class="card-title">Fotografía delantera</h5>
                                    @Html.TextBoxFor(x => x.ImgDelantera, new { type = "file", @class = "form-control-file mb-2", accept = "image/*" })
                                    <button type="button" class="btn btn-info btn-sm" onclick="ViewPhoto('@Model.VehFotoFrontal', 'Fotografía frontal')">
                                        <i class="fa fa-eye"></i>
                                        Ver
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="card" style="width: 18rem;">
                                @if (string.IsNullOrEmpty(Model.VehFotoLateralIzquierda))
                                {
                                    <div class="img-thumbnail" style="width: 286px; height: 230px;">
                                        <img id="img-izquierda" class="card-img-top" src="@Url.Content("~/Content/images/others/placeholder.png")" alt="Card image cap">
                                    </div>
                                }
                                else
                                {
                                    <div class="img-thumbnail" style="width: 286px; height: 230px;">
                                        <img id="img-izquierda" class="card-img-top" src="@Url.Content($"~{Model.VehFotoLateralIzquierda}")" alt="Card image cap">
                                    </div>
                                }
                                <div class="card-body">
                                    <h5 class="card-title">Fotografía izquierda</h5>
                                    @Html.TextBoxFor(x => x.ImgIzquierda, new { type = "file", @class = "form-control-file mb-2", accept = "image/*" })
                                    <button type="button" class="btn btn-info btn-sm" onclick="ViewPhoto('@Model.VehFotoLateralIzquierda', 'Fotografía izquierda')">
                                        <i class="fa fa-eye"></i>
                                        Ver
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="card" style="width: 18rem;">
                                @if (string.IsNullOrEmpty(Model.VehFotoLateralDerecha))
                                {
                                    <div class="img-thumbnail" style="width: 286px; height: 230px;">
                                        <img id="img-derecha" class="card-img-top" src="@Url.Content("~/Content/images/others/placeholder.png")" alt="Card image cap">
                                    </div>
                                }
                                else
                                {
                                    <div class="img-thumbnail" style="width: 286px; height: 230px;">
                                        <img id="img-derecha" class="card-img-top" src="@Url.Content($"~{Model.VehFotoLateralDerecha}")" alt="Card image cap">
                                    </div>
                                }
                                <div class="card-body">
                                    <h5 class="card-title">Fotografía derecha</h5>
                                    @Html.TextBoxFor(x => x.ImgDerecha, new { type = "file", @class = "form-control-file mb-2", accept = "image/*" })
                                    <button type="button" class="btn btn-info btn-sm" onclick="ViewPhoto('@Model.VehFotoLateralDerecha', 'Fotografía derecha')">
                                        <i class="fa fa-eye"></i>
                                        Ver
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="card" style="width: 18rem;">
                                @if (string.IsNullOrEmpty(Model.VehFotoTrasera))
                                {
                                    <div class="img-thumbnail" style="width: 286px; height: 230px;">
                                        <img id="img-trasera" class="card-img-top" src="@Url.Content("~/Content/images/others/placeholder.png")" alt="Card image cap">
                                    </div>
                                }
                                else
                                {
                                    <div class="img-thumbnail" style="width: 286px; height: 230px;">
                                        <img id="img-trasera" class="card-img-top" src="@Url.Content($"~{Model.VehFotoTrasera}")" alt="Card image cap">
                                    </div>
                                }
                                <div class="card-body">
                                    <h5 class="card-title">Fotografía trasera</h5>
                                    @Html.TextBoxFor(x => x.ImgTrasera, new { type = "file", @class = "form-control-file mb-2", accept = "image/*" })
                                    <button type="button" class="btn btn-info btn-sm" onclick="ViewPhoto('@Model.VehFotoTrasera', 'Fotografía trasera')">
                                        <i class="fa fa-eye"></i>
                                        Ver
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="card" style="width: 18rem;">
                                @if (string.IsNullOrEmpty(Model.VehFotoMotor))
                                {
                                    <div class="img-thumbnail" style="width: 286px; height: 230px;">
                                        <img id="img-motor" class="card-img-top" src="@Url.Content("~/Content/images/others/placeholder.png")" alt="Card image cap">
                                    </div>
                                }
                                else
                                {
                                    <div class="img-thumbnail" style="width: 286px; height: 230px;">
                                        <img id="img-motor" class="card-img-top" src="@Url.Content($"~{Model.VehFotoMotor}")" alt="Card image cap">
                                    </div>
                                }
                                <div class="card-body">
                                    <h5 class="card-title">Fotografía del motor</h5>
                                    @Html.TextBoxFor(x => x.ImgMotor, new { type = "file", @class = "form-control-file mb-2", accept = "image/*" })
                                    <button type="button" class="btn btn-info btn-sm" onclick="ViewPhoto('@Model.VehFotoMotor', 'Fotografía del motor')">
                                        <i class="fa fa-eye"></i>
                                        Ver
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="card" style="width: 18rem;">
                                @if (string.IsNullOrEmpty(Model.VehFotoTrasera))
                                {
                                    <div class="img-thumbnail" style="width: 286px; height: 230px;">
                                        <img id="img-interior" class="card-img-top" src="@Url.Content("~/Content/images/others/placeholder.png")" alt="Card image cap">
                                    </div>
                                }
                                else
                                {
                                    <div class="img-thumbnail" style="width: 286px; height: 230px;">
                                        <img id="img-interior" class="card-img-top" src="@Url.Content($"~{Model.VehFotoInterior}")" alt="Card image cap">
                                    </div>
                                }
                                <div class="card-body">
                                    <h5 class="card-title">Fotografía interior</h5>
                                    @Html.TextBoxFor(x => x.ImgInterior, new { type = "file", @class = "form-control-file mb-2", accept = "image/*" })
                                    <button type="button" class="btn btn-info btn-sm" onclick="ViewPhoto('@Model.VehFotoInterior', 'Fotografía interior')">
                                        <i class="fa fa-eye"></i>
                                        Ver
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <br />

        <button class="btn btn-outline-success">
            <i class="fa fa-save"></i>
            Guardar
        </button>
        <a class="btn btn-outline-danger" href="@Url.Action("Control", "Vehicles")">
            <i class="fa fa-times"></i>
            Cancelar
        </a>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="modal-img" tabindex="-1" role="dialog" aria-labelledby="modal-img" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-img-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="img-preview" style="width: 100%; height: auto;" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#ImgRevision").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-revision').attr('src', e.target.result);
                }

                reader.readAsDataURL(this.files[0]);
            }
        });

        $("#ImgDelantera").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-delantera').attr('src', e.target.result);
                }

                reader.readAsDataURL(this.files[0]);
            }
        });

        $("#ImgIzquierda").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-izquierda').attr('src', e.target.result);
                }

                reader.readAsDataURL(this.files[0]);
            }
        });

        $("#ImgDerecha").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-derecha').attr('src', e.target.result);
                }

                reader.readAsDataURL(this.files[0]);
            }
        });

        $("#ImgTrasera").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-trasera').attr('src', e.target.result);
                }

                reader.readAsDataURL(this.files[0]);
            }
        });

        $("#ImgMotor").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-motor').attr('src', e.target.result);
                }

                reader.readAsDataURL(this.files[0]);
            }
        });

        $("#ImgInterior").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-interior').attr('src', e.target.result);
                }

                reader.readAsDataURL(this.files[0]);
            }
        });

        $('#VehCodigoProveedor').select2({
            theme: 'bootstrap4',
            width: '100%',
        });

        $('#VehCodigoEmpresa').select2({
            theme: 'bootstrap4',
            width: '100%',
        });

        $('#VehCodigoUsuario').select2({
            theme: 'bootstrap4',
            width: '100%',
        });

    });

    function ViewPhoto(source, title) {
        if (source == '') {
            alert('Adjunte una imagen para poder visualizarla.');
            return;
        }

        $('#img-preview').attr("src", source);
        $('#modal-img-title').text(title);
        $('#modal-img').modal();
    }
</script>