@{
    ViewBag.Title = "Logs";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string selectedPlaca = ViewBag.SelectedPlaca;
}

@using (Html.BeginForm("Logs", "Vehicles", FormMethod.Get, new { id = "form-search-placa" }))
{
    if (ViewBag.CanChange)
    {
        <div class="form-group row">
            <h4 class="col-auto">Bitacora vehiculo</h4>
            <div class="col-auto">
                @Html.DropDownList("VehPlaca", null, "TODOS", new { @class = "form-control", onchange = "isLoading(true); $('#form-search-placa').submit();", id = "select-vehplaca", style = "width: 250px !important;" })
            </div>
        </div>
    }
    else
    {
        <div class="form-group row">
            @Html.Hidden("VehPlaca", selectedPlaca)
            <h4 class="col-auto">Bitacora vehiculo</h4>
            <div class="col-auto">
                @Html.DropDownList("VehPlaca", null, new { @class = "form-control d-inline", disabled = "disabled", id = "select-vehplaca", style = "width: 250px !important;" })
            </div>
        </div>
    }

    <hr class="m-0" />
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent pl-0">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Bitacora</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-6">
            @Html.DropDownList("Option", null, new { @class = "form-control", onchange = "isLoading(true); $('#form-search-placa').submit();" })
            @*<select class="form-control" name="Option">
                <option value="1">Comentarios</option>
                <option value="2">Inspecciones</option>
            </select>*@
        </div>
        @if(ViewBag.SelectedOption == "Comentarios")
        {
            <div class="col-6 text-right">
                <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#modal-nueva-entrada">
                    <i class="fa fa-plus"></i>
                    Nueva entrada
                </button>
            </div>
        }
    </div>
}
<hr />

@if (ViewBag.SelectedOption == "Comentarios")
{

    List<rvFleet.Models.bitacoravehiculo> ComentariosModel = ViewBag.ComentariosModel;

    Html.RenderPartial("_Comments", ComentariosModel);
}
else
{
    List<rvFleet.POCO.InspectionsTable> InspectionModel = ViewBag.InspectionModel;

    Html.RenderPartial("_Inspections", InspectionModel);
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#select-vehplaca').select2({
            theme: 'bootstrap4'
        });
    });
</script>