@model List<rvFleet.Models.privilegio>
@{
    ViewBag.Title = "Home Page";

    bool HasChilds(string PrivilegeId)
    {
        if (Model.Where(x => x.PadrePrivilegio.Equals(PrivilegeId)).Count() > 0)
        {
            //Encontro nodos hijos entonces es padre;
            return true;
        }

        return false;
    }

    string ParentName(string FatherId)
    {
        string name = Model.Where(x => x.IdPrivilegio.Equals(FatherId)).FirstOrDefault().NombrePrivilegio;

        return name;
    }
}

@*<div class="jumbotron">
        @using (Html.BeginForm("CreateHash", "Home"))
        {
            <h2>Crear hash</h2>
            <input type="text" name="data" class="form-control form-control-sm" />
            <hr />
            <input type="submit" value="Crear" class="btn btn-success" />
        }

        @if (!string.IsNullOrEmpty(ViewBag.Hash))
        {
            <br />
            <p>
                Hash generado: @ViewBag.Hash
            </p>
        }
    </div>*@
@*<div class="alert alert-primary alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Bienvenido(a) @ViewBag.UserName</h4>
        <p>Este es el portal de <strong>Vehiculos</strong> de Recarga Veloz, te mostramos una lista de acciones que puedes realizar dentro del portal.</p>
        <hr>
        <p class="mb-0">Buena suerte y buen día.</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>*@
<h4 class="alert-heading">Bienvenido(a) @ViewBag.UserName</h4>
<hr />
<div class="row">
    @foreach (var item in Model)
    {

        if (!HasChilds(item.IdPrivilegio))
        {
            //Obtener accion y controlador guardados en la base
            var controller = item.URL.Split('/')[0];
            var action = item.URL.Split('/')[1];
            <div class="form-group col-12 col-md-6 col-lg-4">
                <div class="card m-auto m-lg-0 shadow" style="width: 100%;">
                    <div class="card-body">
                        @if (!string.IsNullOrEmpty(item.PadrePrivilegio))
                        {
                            <h5 class="card-title">@string.Concat(ParentName(item.PadrePrivilegio), " > ", item.NombrePrivilegio)</h5>
                        }
                        else
                        {
                            <h5 class="card-title">@item.NombrePrivilegio</h5>
                        }
                        <hr />
                        <p class="card-text">@item.DescripcionPrivilegio</p>
                        <a href="@Url.Action(action, controller)" class="btn btn-primary m-auto">
                            Ir
                            <i class="fa fa-sign-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    }
</div>

@if (ViewBag.KilometrajeUploaded != null)
{
    if (!ViewBag.KilometrajeUploaded)
    {
        <!-- Modal -->
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modal-kilometraje">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    @using (Html.BeginForm("Upload", "Kilometraje", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-uploadKilometraje" }))
                    {
                        <div class="modal-header bg-danger text-white">
                            <h5 class="modal-title">¡Tienes que subir el kilometraje de hoy!</h5>
                        </div>
                        <div class="modal-body">
                            <p>Parece que aun no has subido el kilometraje de hoy, favor ingresa una foto del kilometraje de hoy y escribe en el recuadro de abajo el kilometraje.</p>
                            @Html.TextBox("KilometrajeImg", null, new { @class = "form-control-file", type = "file" })     
                            <br />
                            @Html.TextBox("KilKilometraje", null, new { @class = "form-control col-12", placeholder = "Kilometraje", onchange = "formatThousands(this);" })
                        </div>
                        <div class="modal-footer">
                            <button id="button-upload" type="submit" class="btn btn-success" onclick="return CanUpload();">Subir</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        
        if ($('#modal-kilometraje')) {
            setTimeout(function () {
                $('#modal-kilometraje').modal({
                    backdrop: "static"
                });
            }, 1000);
        }

        $('#form-uploadKilometraje').on('submit', function () {
            //deshabilitar boton
            $('#button-upload').attr('disabled', 'disabled');
            $('#button-upload').html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Subiendo...`);
        });
    });

    function CanUpload() {
        var flag = true;

        if ($('#KilometrajeImg').get(0).files.length === 0) {
            flag = false;
            alert("Favor adjuntar una imagen para el kilometraje.")
        }

        if ($('#KilKilometraje').val().trim() === '') {
            flag = false;
            $('#KilKilometraje').addClass('is-invalid');
        } else {
            $('#KilKilometraje').removeClass('is-invalid');
        }

        return flag;
    }
</script>